<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Profile</title>
</head>
<body>
    <div class="container text-center">
        <div>
            <form th:action="@{/logout}" method="post">
                <p>
                   <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                </p>
                <input type="submit" value="Sign Out">
            </form>
        </div> 
    </div>

    <div align="center">
        <h1>Edit Profile</h1>
        <br />
        <form action="#" th:action="@{/update}" th:object="${user}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                    <td>User ID:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr> 
                
                <tr>             
                    <td>User Email</td>
                    <td>
                        <input type="text" th:field="*{email}" readonly="readonly" />
                    </td>
                </tr>

                
                <tr>
                    <td>First Name</td>
                    <td><input type="text" th:field="*{firstName}" required/></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" th:field="*{lastName}" required/></td>
                </tr> 
                
                <tr>
                    <td>password</td>
                    <td><input type="password" th:field="*{password}" required/></td>
                </tr> 
                <!-- <div class="form-group row">
                    <label class="col-form-label col-4">Password</label>
                    <div class="col-8">
                        <input type="password" class="form-control" th:field="*{password}" required
                               minlength="6" maxlength="10"/>
                    </div>
                </div> -->
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>