<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ride</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
</head>
<body>
    <div class="container text-center">
        <div>
            <form th:action="@{/logout}" method="post">
                <p>
                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                </p>
                <input type="submit" value="Sign Out">
            </form>
        </div>
        
    </div>

    <div align="center">
        <h1>Waiting for the Driver to accept the Ride</h1>
        <br />
        <form th:object="${rideDetails}"
            >
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Your Pick-up Location</td>
                    <td><input type="text" th:field="*{pickupLoc}"  readonly="readonly"/></td>
                </tr>
                <tr>
                    <td>Your Destination</td>
                    <td><input type="text" th:field="*{destination}"  readonly="readonly"/></td>
                </tr>

                <tr>
                    <td>Your Vehicle Type</td>
                    <td><input type="text" th:field="*{vehicleType}"  readonly="readonly"/></td>
                </tr>
                <tr>
                    <td>Fare</td>
                    <td><input type="text" th:field="*{price}"  readonly="readonly"/></td>
                </tr>
                <div class="container text-center"><a th:href="@{/driverDetails}">Driver Details</a></div>
            </table>
            <div class="container text-center"><a th:href="@{/history}">Booking History</a></div>
        </form>

       
    </div>
</body>
</html>