<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration - TaxiApp</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<style>
    p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

</style>
<body>
    <div class="container text-center">
        <div>
            <form th:action="@{/logout}" method="post">
                <p>
                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                </p>
                <input type="submit" value="Sign Out">
                <div class="container text-center"><a th:href="@{/edit}">Update Your Profile</a></div>
            </form>
        </div>
        
    </div>
    <div class="container text-center">
        <div>
            <h1>Book a Taxi</h1>
        </div>
        <div>
            <form th:action="@{/newRide}" method="post"
                  style="max-width: 600px; margin: 0 auto;"
                  th:object="${rideDetails}"
                  >

                <!-- <div class="form-group row">
                    <label class="col-form-label col-4">Pick up</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{pickupLoc}" required
                               minlength="2" maxlength="20"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-4">Destination</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{destination}" required
                        minlength="2" maxlength="20"/>
                    </div>
                </div> -->

                <!-- <div class="form-group row">
                    <label class="col-form-label col-4">Vehicle type</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{vehicleType}" required
                        minlength="2" maxlength="20"/>
                    </div>
                </div> -->

                <select name="pickupLoc" required>  
                    <option value="">Pick-up Location</option>  
                    <option value="Bangalore">Bangalore</option>  
                    <option value="Hyderabad">Hyderabad</option>  
                    <option value="Chennai">Chennai</option>
                </select>

                <select name="destination" required>  
                    <option value="">Select Destination</option>  
                    <option value="Kochi">Kochi</option>  
                    <option value="Palakkad">Palakkad</option>
                    <option value="Mumbai">Mumbai</option>
                </select>

                <fieldset>
                    <legend>Choose your vehicle type</legend>
                
                    <div>
                      <input type="radio"  name="vehicleType" value="car"
                             checked>
                      <label for="vehicleType">Car</label>
                    </div>
                
                    <div>
                      <input type="radio" name="vehicleType" value="auto">
                      <label for="vehicleType">Auto</label>
                    </div>
                
                    <div>
                      <input type="radio" name="vehicleType" value="bike">
                      <label for="vehicleType">Bike</label>
                    </div>
                </fieldset>
                
                  

                <div>
                    <button type="submit" class="btn btn-primary">Ride Now</button>
                </div>

            </div>
            </form>
        </div>

       
    </div>
    
</body>
</html>