<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Code Login Java</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
</head>
<body>
    <div class="container text-center">
        <div>
            <form th:action="@{/logout}" method="post">
                <p>
                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                </p>
                <input type="submit" value="Sign Out">
            </form>
        </div>
        
    </div>

    <div align="center">
        <h1>Book a Taxi</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${user}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                    <td>User ID:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr> 
                
                <tr>             
                    <td>User Email</td>
                    <td>
                        <input type="text" th:field="*{email}" readonly="readonly" />
                    </td>
                </tr>

                <tr>
                    <td>Pick-up Location</td>
                    <td><input type="text" th:field="*{pickupLocation}" required/></td>
                </tr>
                <tr>
                    <td>Destination</td>
                    <td><input type="text" th:field="*{destination}" required/></td>
                </tr>
                <tr>
                    <td>Vehicle Type</td>
                    <td><input type="text" th:field="*{vehicleType}" required/></td>
                </tr>                            
                <tr>
                    <td colspan="2"><button type="submit">Ride now</button> </td>
                </tr>

                <div class="container text-center"><a th:href="@{'/edit/' + ${user.id}}">Update Your Profile</a></div>
            </table>
        </form>
    </div>
</body>
</html>